body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #4d5259;
}

h1, h2, h3, h4, h5, h6, .tags .tag_title, .tags .examples .tag_title {
  font-weight: normal;
}

a, a:visited,
#content a, #content a:visited,
#search a, #search a:visited,
#menu a, #menu a:visited,
#footer a, #footer a:visited {
  color: #e72b3d;
}
a:hover, a:focus,
#content a:hover #content a:focus,
#search a:hover #search a:focus,
#menu a:hover #menu a:focus,
#footer a:hover #footer a:focus {
  color: #b11423;
}

.summary_desc .object_link a,
.docstring .object_link a,
.object_link a
{
  background: #f9f3f3;
}

#content .signature {
  background: #6B6B6B;
  color: #fff;
  border: none;
}

#content .signature a {
  color: #FF8080;
  background: none;
}

#content .overload .signature {
  background: #bbb;
}

#content .overload .signature a {
  color: #e72b3d;
}

.summary_desc .object_link a,
#content .signature,
.summary .summary_signature,
#filecontents pre.code,
.docstring pre.code,
.tags pre.example
{
  border-radius: 2px;
}

h2 small a {
  box-sizing: border-box;
  height: 27px;
}

#su-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 57px;
  line-height: 57px;
  z-index: 10;
  color: white;
  background-color: #363545;
}

#su-header a {
  color: white;
  padding: 0 1em;
  text-decoration: none;
}

#su-header h1 {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#su-content {
  background: #eef;
  width: 100%;
  position: fixed;
  top: 57px;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}
